// font(s)
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,500&display=swap");
$rubik: "rubik", sans-serif;

// colors
$dark-gray: hsl(0, 0%, 59%);
$very-dark-gray: hsl(0, 0%, 17%);

//Mobile-first styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  font-family: $rubik;
  text-align: center;
  // position: relative;
}
.main-container {
  background-image: url("/images/pattern-bg.png");
  background-repeat: repeat;
  height: 28rem;
  padding-top: 2rem;
  .heading-text {
    margin-bottom: 2rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
  }
  form {
    display: flex;
    margin: auto;
    width: 80%;
    input {
      padding: 1.5rem 2rem;
      border-radius: 15px 0 0 15px;
      outline: none;
      border: none;
      width: 100%;
      font-weight: 500;
      color: $very-dark-gray;
      cursor: pointer;
    }
    button {
      background-color: #000;
      border: none;
      padding: 0 2rem;
      display: grid;
      place-items: center;
      border-radius: 0 15px 15px 0;
      cursor: pointer;
    }
    button:hover {
      background-color: $very-dark-gray;
    }
  }
  .ip-info-container {
    background-color: #fff;

    width: 80%;
    margin: auto;
    margin-top: 2rem;
    color: $very-dark-gray;
    padding: 2rem 0 0 0;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    // top: 60%;
    top: 28rem; //needs to be fixed
    transform: translate(-50%, -50%);
    z-index: 10;
    div {
      //
      margin-bottom: 2rem;
      p:first-of-type {
        color: $dark-gray;
        margin: 0.6rem;
        letter-spacing: 0.2rem;
        font-weight: 700;
      }
      p:last-of-type {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}
.map-container {
  position: relative;
  z-index: 1;
}
@media (min-width: 550px) {
}
// Modal and overlay
