// font(s)
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,500&display=swap");
$rubik: "rubik", sans-serif;

// colors
$dark-gray: hsl(0, 0%, 59%);
$very-dark-gray: hsl(0, 0%, 17%);

//Mobile-first styles
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  font-family: $rubik;
  text-align: center;
  position: relative;
}
.main-container {
  background-image: url("/images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 22rem;
  padding-top: 2rem;
  .heading-text {
    margin-bottom: 2rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
  }
  form {
    display: flex;
    margin: auto;
    width: 80%;
    input {
      padding: 1.5rem 2rem;
      border-radius: 15px 0 0 15px;
      outline: none;
      border: none;
      width: 100%;
      font-weight: 500;
      color: $very-dark-gray;
      cursor: pointer;
    }
    button {
      background-color: #000;
      border: none;
      padding: 0 2rem;
      display: grid;
      place-items: center;
      border-radius: 0 15px 15px 0;
      cursor: pointer;
    }
    button:hover {
      background-color: $very-dark-gray;
    }
  }
  .ip-info-container {
    background-color: #fff;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    color: $very-dark-gray;
    padding: 2rem 0 0 0;
    border-radius: 15px;
    position: absolute;
    word-wrap: break-word;
    left: 50%;
    // top: 60%;
    top: 26rem; //needs to be 'relatively fixed'
    transform: translate(-50%, -50%);
    z-index: 2;
    div {
      margin-bottom: 2rem;
      p:first-of-type {
        color: $dark-gray;
        margin: 0.6rem;
        letter-spacing: 0.2rem;
        font-weight: 700;
      }
      p:last-of-type {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}
.map-container {
  position: relative;
  z-index: 1;
}

/// overlay and modal
.modal {
  z-index: 10;
  border: none;
  font-weight: 500;
  text-align: center;
  width: 80%;
  max-width: 30rem;
  padding: 2rem 0;
  background-color: #fff;
  text-align: left;
  padding: 0;
  font-family: $rubik;
  padding: 2rem;
  border-radius: 15px;
  p {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  p:first-of-type {
    font-weight: 700;
  }
  .close-modal {
    font-family: inherit;
    background-color: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: grid;
  place-items: center;
}
.hidden {
  display: none;
}

// Footer
footer {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  background-color: $very-dark-gray;
  color: #fff;
  a {
    color: inherit;
    cursor: pointer;
  }
  .fa-github {
    font-size: inherit;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }
}

// Media Queries
@media (min-width: 450px) and (max-width: 1199px) {
  .main-container {
    form {
      max-width: 500px;
    }
    .ip-info-container {
      max-width: 800px;
    }
  }
}
@media (max-width: 450px) {
  .main-container {
    form,
    .ip-info-container {
      width: 72%;
      div {
        p:last-of-type {
          width: 80%;
          margin: auto;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .main-container {
    height: 22rem;
    .heading-text {
      font-size: 4rem;
    }
    form {
      width: 40%;
      input {
        font-size: 1.5rem;
      }
    }
    .ip-info-container {
      display: flex;
      padding: 2rem;
      top: 20rem;
      box-shadow: 0px 15px 100px 0px rgba($color: #000000, $alpha: 0.2);
      div {
        flex: 1;
        border-right: 1px solid rgb(184, 184, 184);
        margin: 0;
        text-align: left;
        padding: 1rem 0 1rem 0;
        padding-left: 3rem;
        p:first-of-type {
          margin: 0 0 1rem 0;

          font-size: 1rem;
        }
        p:last-of-type {
          font-size: 1.5rem;
          width: 80%;
        }
      }
      div:last-of-type {
        border: none;
      }
    }
  }
}
